@import "../../assets/css/variable";

.#{$prefix}-upload-wrapper {
  display: inline-block;
  cursor: pointer;
}

.#{$prefix}-upload-drag-wrapper {
  border: 1px dashed lightgray;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  padding: 16px;
  transition: border-color .3s;

  &:hover {
    border-color: #1890ff;
  }
}

.#{$prefix}-upload-image-wrapper {
  width: 100px;
  height: 100px;
}

.#{$prefix}-upload-disabled {
  cursor: not-allowed;
  border-color: rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.25);

  &:hover {
    border-color: rgba(0, 0, 0, 0.25);
  }
}

.#{$prefix}-upload-crop-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .#{$prefix}-upload-crop-wrapper-preview {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC");
  }
}
